@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(174 107 222);
  --secondary-color: rgb(92 166 224);
}

body {
  width: 100%;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.primary_bg {
  background-color: #ae6bde;
}
.primary_color {
  color: rgb(174 107 222);
}

.secondary_bg {
  background-color: rgb(92 166 224);
}
.secondary_color {
  color: rgb(92 166 224);
}

.navy_bg {
  background-color: rgb(5 11 39);
}
.navy_color {
  color: rgb(5 11 39);
}

input:focus {
  outline: unset !important;
}

.placeholder_white::placeholder {
  color: white;
}

.no_list {
  list-style: none;
}

.custom_btn {
  border-radius: 0 20px 0 20px;
}

.transition {
  transition: all 1s;
}

.hover_primary_color {
  /* transition: all 0.2s; */
}
.hover_primary_color:hover {
  color: rgb(174 107 222);
}

.hover_secondary_bg {
  transition: all 0.2s;
}
.hover_secondary_bg:hover {
  background-color: rgb(92 166 224) !important;
}

.secondary_border {
  border-color: rgb(92 166 224);
}

.hover_effect {
  transition: transform 0.1s !important;
}

.hover_effect:hover {
  transform: scale(1.05) !important;
}

.carousel-container {
  z-index: 0 !important;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.shadow_blue:hover {
  box-shadow: 0 6px 10px 0 rgba(142, 189, 252, 0.7);
}

.path_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.lemon_bg {
  background-color: #dbf4e6;
}
.light_yellow_bg {
  background-color: #fff1d0;
}

.light_danger_bg {
  background-color: #f6d6d6;
}

.purple_bg {
  background-color: #623799;
}
.light_purple_bg {
  background-color: #d8c5ee;
}

.active_dot {
  background-color: var(--primary-color);
}

.inactive {
  background-color: var(--secondary-color) !important;
}

#no_border {
  /* border: 1px !important; */
  width: 30px;
  margin-right: 5px;
  padding: 2px 0;
}

.inherit_text {
  color: inherit !important;
}

.inherit_bg {
  background-color: inherit !important;
}

.primary_border {
  border-color: var(--primary-color) !important;
}

.togglable_element {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.sticky_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  transition: top 0.3s ease-in-out;
}

.sticky_nav.sticky_position {
  top: 20px; /* Adjust this value to control the top position */
}

.opacity_1:hover {
  opacity: 100 !important;
}

.opacity_half::prev-sibling {
  background-color: #623799 !important;
  opacity: 0.5 !important;
}

.home_bg {
  max-height: 100vh;
  background-position: center;
  background-size: cover;
}

.login_bg {
  background: rgb(92, 166, 224);
  background: radial-gradient(
    circle,
    rgba(92, 166, 224, 1) 11%,
    rgba(174, 107, 222, 1) 44%,
    rgba(255, 255, 255, 1) 69%,
    rgba(146, 196, 234, 1) 69%
  );
}
